
.Note {
    color: black;
    margin-bottom: 10px;
    max-width: 100%;
    position: relative;
    border: solid 2px grey;
    padding: 10px;
  }

  h2 {
    text-decoration: none;
    color: black;
  }
  
