/* div.NoteList {
    margin-left: 150px;
} */

.NoteList {
    margin-left: 15%;
}

.NoteList ul {
    margin: 50px;
}
.NoteList li {
    list-style: none;
}

.NoteList button {
    margin-left: 50%
}